{%extends "base.html"%}

{% block content %}

<div class="container-fluid card text-center mt-5 hg-3">
    <div class="card-title">
        <h1>Criar um jogo</h1>
    </div>
    <div class="card-body">
        <form method="post" action={% url "criar_jogo" %}>
            {% csrf_token %}
            {{form}}
            <p>Devido a falta de implementação, são suportados apenas jogos que possuem uma palavra</p>
    </div>
    <div class="card-footer">
        <button type="submit" name='save'>Inserir</button>
    </form>
    </div>
</div>


{% endblock content %}