<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%for user in users%}

    <p>Nome de usuario: {{user.username.get_username}}</p>
    <p>Nivel: {{user.level}} </p>
    <p>Qntd respondidas: {{user.qntd_respondidas}} </p>
    
    {%endfor%}
</body>
</html>