{%extends "base.html"%}

{% block content %}

<div class="container-fluid card text-center mt-5 hg-3">
    <div class="card-title">
        <h1>Criar um jogo</h1>
    </div>
    <div class="card-body">
        <form method="post" action={% url "inserir_pergunta_test" %}>
            {% csrf_token %}
            {{form}}
    </div>
    <div class="card-footer">
        <button type="submit" name='save'>Inserir</button>
    </form>
    </div>
</div>

{% endblock content %}