@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap');

:root {
    --roxo: rgb(129, 97, 192);
    --roxo2: hsla(247, 35%, 24%, 0.685);
    --azul: hsl(207, 100%, 50%);
    --rosa: rgb(221, 101, 211);
    --azulescuro: hsl(246, 35%, 36%);
    --azulescuro2: hsl(247, 35%, 24%);
    --azulciano: hsl(197, 48%, 56%);
    --azul: hsl(216, 100%, 50%);
    --branco: rgb(230, 230, 230);
}

.class_letra.readonly input {
    pointer-events: none; 
    color: white; /* Alterado para branco */
    background-color: var(--azulescuro2); 
}

h1{
    color: var(--branco) !important;
}


body {
    font-family: 'arial', sans-serif;
    text-align: center;
    background-color: var(--azulescuro);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.correta{
    background-color: rgb(81, 189, 189) !important;
}
.existe{
    background-color: rgb(236, 217, 109) !important;
}
.errado{
    background-color: var(--azulescuro2) !important;
}



.botao {
    background-color: var(--azulescuro2);
    border: none;
    font-family: 'Fredoka', sans-serif;
    color: rgb(255, 255, 255);
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px 2px;
    cursor: pointer;
    border-radius: 30px;
}

.botao:hover {
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.993);
    opacity: 70%;
}

hr {
    width: 600px;
}

input {
    text-align: center;
    margin-bottom: 5px;
    margin: 2px;
    padding: 5px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 7px solid var(--azulescuro2);
    outline: none;
}

.class_letra input {
    caret-color: transparent;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    /* cor do fundo da letra */
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    background-color: var(--roxo2);
}

#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
}

.tile {
    /* Box */
    width: 60px;
    height: 60px;
    margin: 2.5px;
    border-radius: 15px;
    background-color: #ff0000;
    align-items: center;

    /* Text */
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Flip Animation */
    perspective: 1000px;
    transition: transform 0.5s;
}

.tile.flip {
    transform: rotateY(180deg);
}

.keyboard-row {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
}

.key-tile {
    color: white;
    width: 36px;
    height: 40px;
    margin: 1px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #000000;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Hover Animation */
    transition: transform 100ms linear;
}

.key-tile:hover {
    transform: scale(1.1);
}

.enter-key-tile {
    color: white;
    width: 76px;
    height: 40px;
    margin: 1px;
    background-color: rgb(255, 0, 0);
    border-radius: 15px;
    cursor: pointer;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Hover Animation */
    transition: transform 100ms linear;
}

.grey {
    background-color: #ff4646; /* Cor de fundo cinza */
    color: white; /* Cor do texto cinza */
}

.green {
    color: green;
}

.yellow {
    color: yellow;
}

.black {
    color: black;
}

.enter-key-tile:hover {
    transform: scale(1.1);
}

.correct {
    background-color: #3aa394;
    color: white;
}

.present {
    background-color: #d3ad69;
    color: white;
}

.absent {
    background-color: var(--roxo);
    color: white;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #dcdcdc;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
}

@media (max-width: 600px) {
    body {
        font-family: 'Fredoka', sans-serif;
        text-align: center;
        background-color: #ffffff;
        color: white;
        position: fixed;
        width: 100vw;
        height: 100vw;
        max-width: 100%;
    }
}

.botaouser {
    background-size: cover;
    position: absolute;
    top: 0;
    left: 3px;
    background-color: var(--azulescuro2);
    border: none;
    font-family: 'Fredoka', sans-serif;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}

.botaohome {
    background-size: cover;
    position: absolute;
    top: 0;
    left: 54px;
    background-color: var(--azulescuro2);
    border: none;
    font-family: 'Fredoka', sans-serif;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}


.botaouser:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    opacity: 70%;
}

.botaohome:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    opacity: 70%;
}

.class_letra input:focus {
    color: white;
    border: 7px solid var(--azul);
}