@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap');

:root {
    --roxo: rgb(36, 223, 223);
    --azul: hsl(207, 100%, 50%);
    --rosa: rgb(221, 101, 211);
    --azulescuro: hsl(175, 91%, 39%);
    --azulescuro2: hsl(180, 87%, 58%);
    --azulciano: hsl(216, 100%, 50%);
  }  
  
body {
    font-family: 'arial', sans-serif; text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #ffffff
}
@keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: translateX(-100%);
   
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    
    
  }
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--azulescuro);
}

.formLogin {
    display: flex;
    flex-direction: column;
    background-color: var(--azulescuro);
    border-radius: 7px;
    padding: 40px;
    gap: 5px
}

.areaLogin img {
    width: 420px;
}

.formLogin h1 {
    padding: 0;
    margin: 0;
    font-size: 2.5em;
}

.formLogin p {
    display: inline-block;
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 25px;
}

.formLogin input {
    padding: 15px;
    font-size: 1.2em;
    border: 7px solid var(--azulescuro2);
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 20px;
    transition: all linear 160ms;
    outline: none;
}


.formLogin input:focus {
    border: 7px solid var(--azulciano);
}

.formLogin label {
    font-size: 1.2em;
}
td{
  color: black;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 20px;

}


tbody, td, tfoot, th, thead, tr{
  border: none !important;
}

td a{
  text-transform: capitalize;
  text-decoration: none;
  
}

.formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 15px;
    color: #ffffff;
    transition: all linear 160ms;
}

.formLogin a:hover {
    color: var(--azulciano);
}

.login-botao{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

table{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  border-radius: 10px ;
}


@media (max-width: 1900px) {
    body {
        font-family: 'Fredoka', sans-serif;
        /* text-align: center; */
        /* background-color: #6e5c62; */
        color: white;
        /* position: fixed; */
        /* width: 100vw;
        height: 100vw; */
        max-width: 100%;
    }
  }

  hr {
    width: 600px;
    }

  .btn {
    background-color: var(--azulescuro2);
    border: none;
    font-family: 'Fredoka', sans-serif;
    color: rgb(255, 255, 255);
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
}





.btn:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    opacity: 70%;
}  



