@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap');

:root {
  --roxo: rgb(150, 94, 255);
  --azul: hsl(207, 100%, 50%);
  --rosa: rgb(221, 101, 211);
  --azulescuro: hsl(246, 35%, 36%);
  --azulescuro1: hsl(246, 35%, 36%, 60%);
  --azulescuro2: hsl(247, 35%, 24%);
  --azulescuro3: hsl(247, 36%, 15%);
  --azulciano: hsl(216, 100%, 50%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.guess-section, .botaosair, .botaoindex {
  animation: fadeIn 2s ease-in-out forwards;
}

body {
  font-family: 'arial', sans-serif;
  text-align: center;
  background-color: var(--azulescuro);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
}

hr {
  width: 600px;
}

input{
  text-align: center;
  margin-bottom: 5px;
}

.container {
  max-width: 600px;
  margin: 100px auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-family: 'Fredoka', sans-serif;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}

@media (max-width: 1900px) {
  body {
    font-family: 'Fredoka', sans-serif;
    color: white;
    height: 100vh;
    max-width: 100%;
  }
}

.guess-section {
  align-content: center;
}

.ranking { 
  position: fixed;
  top: 20px;
  right: 20px;
  color:white;
  margin: 20px;
  background-color: var(--azulescuro3);
  border: 1px solid rgba(0, 0, 0, 0.30);
  border-radius: 5px;
}

.ranking th, td {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.30);
}

.itens {
  background-color: var(--azulescuro1);
}

.titulo {
  background-color: var(--azulescuro1);
}

.botaoindex {
  background-color: var(--azulescuro2);
  border: none;
  font-family: 'Fredoka', sans-serif;
  color: white;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
}

.botaosair {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--azulescuro2);
  border: none;
  font-family: 'Fredoka', sans-serif;
  color: white;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

.botaocadastro {
  background-color: var(--azulescuro2);
  border: none;
  font-family: 'Fredoka', sans-serif;
  color: white;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
}

.botaoindex:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  opacity: 70%;
}

.botaosair:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  opacity: 70%;
}

.botaocadastro:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  opacity: 70%;
}

.messages {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 600px;
}

.message {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.message.success {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}

.message.error {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
}