@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap');

:root {
    --roxo: rgb(150, 94, 255);
    --azul: hsl(207, 100%, 50%);
    --rosa: rgb(221, 101, 211);
    --azulescuro: hsl(246, 35%, 36%);
    --azulescuro2: hsl(247, 35%, 24%);
    --azulciano: hsl(216, 100%, 50%);
  }

body {
    font-family: 'arial', sans-serif; text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #ffffff
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--azulescuro);
}

.formRegister {
    display: flex;
    flex-direction: column;
    background-color: var(--azulescuro);
    border-radius: 7px;
    padding: 40px;
    gap: 5px
}

.areaRegister img {
    width: 420px;
}

.formRegister h1 {
    padding: 0;
    margin: 0;
    font-size: 2.5em;
}

.formRegister p {
    display: inline-block;
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 25px;
}

.formRegister input {
    padding: 15px;
    font-size: 1.2em;
    border: 7px solid var(--azulescuro2);
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 20px;
    transition: all linear 160ms;
    outline: none;
}


.formRegister input:focus {
    border: 7px solid var(--azulciano);
}

.formRegister label {
    font-size: 1.2em;
}

.formRegister a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #ffffff;
    transition: all linear 160ms;
}

.formRegister a:hover {
    color: #f72585;
}

@media (max-width: 1900px) {
    body {
        font-family: 'Fredoka', sans-serif;
        /* text-align: center; */
        /* background-color: #6e5c62; */
        color: white;
        /* position: fixed; */
        /* width: 100vw;
        height: 100vw; */
        max-width: 100%;
    }
  }

  hr {
    width: 600px;
    }

  .btn {
    background-color: var(--azulescuro2);
    border: none;
    font-family: 'Fredoka', sans-serif;
    color: rgb(255, 255, 255);
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
}

.btn:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    opacity: 70%;
}  
 
.botaohome {
    background-size: cover;
    position: absolute;
    top: 0;
    left: 3px;
    background-color: var(--azulescuro2);
    border: none;
    font-family: 'Fredoka', sans-serif;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}

.botaohome:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    opacity: 70%;
}