body {
  background-image: linear-gradient(
    45deg,
    rgb(7, 177, 168),
    hsl(172, 100%, 50%)
  );
}

.guess-section {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  border-radius: 15px;
  color: white;
}

button {
  margin: 2%;
  margin-left: 20%;
  position: absolute;
  background-color: black;
  color: white;
  font-size: 12pt;
  padding: 9px;
  outline: none;
  border-radius: 25px;
  border-style: none;
  margin-bottom: 20px;
}

button:hover {
  background-color: rgb(3, 36, 184);
}

/* Estilos para mensagens */
.messages {
  margin: 20px 0;
  padding: 10px;
  border-radius: 5px;
}

.message {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-bottom: 10px;
}

.message.success {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}

.message.error {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
}
