
{% extends 'base.html' %}
{% load static %}    
{% block content %}

    <span style="display: none;" id='tamanho_palavra'>
        {{tamanho}}
    </span>
    <span style="display: none;" id='id_sessao'>
        {{id}}
    </span>
    <div class="app-container">
        <div class="title-container">
            <h1>
                <span class="letter-green">T</span>
                <span>E</span>
                <span class="letter-yellow">R</span>
                <span>M</span>
                <span class="letter-red">O</span>
            <h1>

        </div>
        <div class="informacoes">
            <div class="tentativas_restantes">
                <p>Tentativas restantes: <span id='num_tentativas_restantes'>{{restantes}}</span></p>
            </div>
        </div>
        <div class="tile-container"></div>

        <div class="keybord-container">
            <div class="keyboard-row-container notAlphabetic" id="backspaceAndEnterRow"></div>
            <div class="keyboard-row-container" id="keyboardFirstRow"></div>
            <div class="keyboard-row-container" id="keyboardSecondRow"></div>
            <div class="keyboard-row-container" id="keyboardThirdRow"></div>
    </div>

    <script type="text/javascript"  async="async" src="{% static 'app.js' %}" ></script>

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
{% endblock %}