{% extends "base.html" %} {% block content %}
<div class="sessoes_jogos">
  <h1 style='color: aliceblue;' >Listando jogos do usuario: {{user}}</h1>
</div>
<div class="container">
    <div class="row">
        {% for jogo in games %}
        <div class="col-md" style="margin-top:20px;">
            <div class="game card">
                <div class="card-body">
                    <div class="card-title">
                        <h3>Criado em {{jogo.criado}}</h3>
                    </div>
                    <div class="card-text">
                        <p>Tentativas restantes: {{jogo.tentativas_restantes}}</p>
                        <p>
                        Status: {% if jogo.ganho == False and jogo.perdido == False %}
                        <span style="color: red">Em aberto!</span>

                        {% elif jogo.ganho == True%}
                        <span style="color: green">Ganho!</span>
                        {% elif jogo.perdido == True%}
                        <span style="color: black">Perdido!</span>
                        {% endif %}
                        </p>
                    </div>
                    {% if jogo.ganho == False and jogo.perdido == False %}
                        <a href="{{jogo.id}}" class='btn btn-success'>Continuar</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
  </div>
</div>
<div class="create_game mt-5">
    <a class="btn btn-primary" role="button" href="{% url 'criar_jogo' %}">
        Criar jogo
    </a>
    <a class="btn btn-primary" role="button" href="{% url 'inserir_pergunta_test' %}">
        Registrar palavra
    </a>
</div>

{% endblock content %}
