<nav data-bs-theme="dark" class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <h1 class="navbar-brand">Termoo</h1>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            href="{% url 'login' %}"
            >Início</a
          >
        </li>
        <li class='nav-item'>
            <a class='nav-link' href="{% url 'logout' %}">Deslogar</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Acesso rapido
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="nav-link dropdown-item" href='{% url "listar_jogos" %}'
                >Meus jogos</a
              >
            </li>
            <li>
              <a class="nav-link dropdown-item" href='{% url "criar_jogo" %}'
                >Criar jogo</a
              >
            </li>
            <li>
              <a
                class="nav-link dropdown-item"
                href='{% url "inserir_pergunta_test" %}'
                >Registrar palavra</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <button
            type="button"
            class="btn btn-link nav-link"
            data-bs-toggle="modal"
            data-bs-target="#helpModal"
          >
            <i class="bi bi-question-circle"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div
  class="modal fade"
  id="helpModal"
  tabindex="-1"
  aria-labelledby="helpModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="helpModalLabel">Ajuda</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        1- Descubra as palavras dentro do limite de chances.
      </div>
      <div class="modal-body">
        2- As letras verdes indicam que aquela letra está naquela posição na
        proxima palavra.
      </div>
      <div class="modal-body">
        3- As letras amarelas indicam que aquela letra está na proxima palavra
        mas em outra ordem.
      </div>
      <div class="modal-body">
        4- As letras vermelhas indicam que aquela letra não está na proxima
        palavra.
      </div>
      <div class="modal-body">Divirta-se</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
