{%extends 'base.html'%}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'styles/styleslogin.css' %}">
<link rel="stylesheet" href="{%static 'styles/stylesindex.css'%}">
    <div class="guess-section">
      <h1> Bem Vindos ao Termo </h1>
      <hr>
      <br>
        {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
  <p>{{form.errors}}</p>
  <p></p>
  {% endif %}

  {% if next %}
      {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
      {% else %}
      <p>Please login to see this page.</p>
      {% endif %}
  {% endif %}
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {% if user.is_authenticated %}
          <script>
            window.location.href = '/accounts/profile/'
          </script>
        {% endif %}
        <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
       <tr>
          <td colspan='2'>
            <a href={% url "login" %}>
              <button type="submit" class="login-botao botaocadastro" >Login</button>
            </a>
          </td>
       </tr>
       <tr>
        <td colspan='2'>
          <a href="{% url 'criar_usuario' %}" class='btn' role='button'>
            Cadastre-se
          </a>
        </td>
      </tr>
    </table>
    <input class='login-botao' type="hidden" name="next" value="{{ next }}">
        </form>
      <br>
      
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>

    

{% endblock %}