{%extends 'base.html'%} {% block content %}

<div
  class="cadastro card text-center top-50 start-50 position-absolute translate-middle"
>
  <div class="card-header">
    <h1>Cadastre-se</h1>
  </div>
  <div class="card-body">
    <form action="{% url 'criar_usuario' %}" method="post">
      {% csrf_token %}
      <table>
        {%for field in form%}
        <tr>
          <div class="form_item">
            <td>
              {{field.errors}}
              <label
                style="padding-right: 50px"
                class="form-label"
                for="{{field.id_for_label}}"
                >{{field.label}}</label
              >
            </td>
            <td>
              <input
                name="{{ field.name }}"
                class="form-control"
                id="{{field.id_for_label}}"
                type="text"
                value="{{ field.value|default_if_none:'' }}"
              />
            </td>
          </div>
        </tr>
        {% endfor %}
        <tr>
          <td colspan="2">
            <div class="form_item cadastro-botao">
              <button type="submit" class="btn btn-success btn-lg">
                Registrar-se
              </button>
            </div>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>

{% endblock content %}
