:root {
  --primary-bg: var(--azulescuro2);
  --roxo: rgb(150, 94, 255);
  --azul: hsl(207, 100%, 50%);
  --rosa: rgb(221, 101, 211);
  --azulescuro: hsl(246, 35%, 36%);
  --azulescuro1: hsl(246, 35%, 36%, 60%);
  --azulescuro2: hsl(247, 35%, 24%);
  --azulescuro3: hsl(247, 36%, 15%);
  --azulciano: hsl(216, 100%, 50%);
  --branco: aliceblue;
}

* {
  font-family: Arial, sans-serif !important;
}

.navbar-nav {
  align-items: center;
}

label,
p,
h1,
h2 {
  color: var(--branco);
}

.title-container {
  font-size: xx-large;
  text-align: center;
  width: 510px;
  margin-top: 1rem;
}

.letter-yellow {
  color: #c79c2e;
}

.letter-green {
  color: #51b36e;
}

.letter-red {
  color: #943e3c;
}

.app-container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tile-row {
  margin-bottom: 1rem;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
}

.tile-column {
  background-color: #f4f3f1;
  color: #252525;
  height: 79px;
  width: 79px;
  border-radius: 1rem;
  margin-right: 5px;
  font-size: 20px;
  align-items: center;
  display: flex;
}
.tile-column p {
  text-align: center;
  width: 100%;
}

.typing {
  border: 3px solid #252525;
}

.disabled {
  border: 1px solid #252525;
}

.right {
  background-color: #51b36e;
  color: #f4f3f1;
}

.wrong {
  background-color: #943e3c;
  color: #f4f3f1;
}

.displaced {
  background-color: #c79c2e;
  color: #f4f3f1;
}

.keyboard-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.keyboard-row-container {
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0.5rem;
  justify-content: center;
  display: flex;
}

.keyboard-row-container.notAlphabetic {
  width: 100%;
}

.keyboard-row-container:not(.notAlphabetic) button {
  width: 8%;
  height: 40px;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  border: 1px solid #252525;
  font-size: 16px;
  cursor: pointer;
}

body {
  background-color: var(--azulescuro2);
}

.cadastro {
  background-color: var(--branco);
}

.cadastro label,
.cadastro p,
.cadastro h1 {
  color: black !important;
}

form label,
.container h1,
form p {
  color: black !important;
}

form input {
  border-radius: 20px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

.sessoes_jogos h1 {
  color: var(--branco) !important;
}

.tile-column p{
  color: black !important;
}

.cadastro-botao {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  align-items: center;
  justify-content: center;
}

.card-text p {
  color: black;
}
